useDynLib(ldscR, .registration = TRUE)
export(allele_harmonise)
export(download_ldsc_data)
export(filter_align)
export(ldsc.bicov)
export(ldsc.univ)
export(ldscR)
export(ldsc_bootstrap_wrapper)
import(data.table)
importFrom(CppMatrix,matrixMultiply)
importFrom(CppMatrix,matrixVectorMultiply)
importFrom(data.table,copy)
importFrom(data.table,setDT)
importFrom(data.table,setkey)
importFrom(data.table,setnames)
importFrom(stats,cov2cor)
importFrom(stats,lm)
importFrom(stats,runif)
importFrom(stats,sd)
